@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Playpen+Sans:wght@100..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
   line-height: 1.6;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 400;
  }

  .dropdown button {
    text-align: right;
  } 

  .terminal_dote {
    left: 0 !important;
    top: 1.2rem !important;
  }
  .update_line, h2, .home_title, .note_section{
  direction: rtl;
}
.update-info, .code-box, .header{
  font-size: 1rem !important;
}
