  * {
  line-height: 1.6;
   font-weight: 400;
}

:root {
   --color-bg-light: #f4f4f9;
   --color-bg-dark: #0e0e0e;
   --color-text-light: #1a1a1a;
   --color-text-dark: #dcdcdc;
   --color-primary: #ff69b4;
   --color-border: rgba(255, 255, 255, 0.1);
}

:root {
   --bg-color: #111;
 /*  --bg-color: #1a1a1a; */
   --text-color: #ffffff;
   --text-color2: beige;
   --bg-cod: #111;
   --bg-cod-header: #222;
   --accent-color: #2196f3;
  --color-keyword:   #888;
  --color-string:     #767676;
  --color-comment:   #767676;
  --color-variable:  rgb(207 146 120);
  --color-bracket:   #333333;
  --color-function:  #005cc5;
  --color-background: #ffffff;
  --terminal-bg: #0d1117;
  --terminal-color2: grey;
  --terminal-color: #ededed;
  --terminal-color-old: #eec35e;
  --terminal-color-green: #56d364;
}
.light_theme {
   --bg-color: #ffffff;
   --text-color: #000000;
   --bg-cod: #fff;
    --bg-cod-header: #ededed;
   --accent-color: #4caf50;

  --color-keyword:   #d2a8ff;
  --color-string:    #25928d;
  --color-comment:   #767676;
  --color-variable:  #5d3a9b;
  --color-bracket:   #333333;
  --color-function:  #005cc5;
  --color-background: #ffffff;
  --color-text:       #1a1a1a;

  --terminal-color: #121212;
}

/* تنسيق عام */
body {
   margin: 0;
   padding: 2rem 1rem;
   background-color: var(--bg-color);
   color: var(--text-color);
   font-family: Arial, sans-serif;
   transition: all 0.3s ease;
   line-height: 1.6;
}

.control {
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
}

.language,
#themeToggle {
   display: inline-block;
   padding: 0.5rem 0.8rem;
   font-size: 1.2rem;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   color: white;
   background-color: transparent;
   color: var(--text-color);
}

/* زر التحكم بالثيم */
.theme_toggle_container {
   display: inline-block;
}

/* القائمة المنبثقة */
.dropdown {
   display: none;
   position: absolute;
   top: 100%;
   right: 1rem;
   width: 80px;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 0.5rem 0.1rem;
   z-index: 2;
   background-color: var(--bg-color);
}
article{
  z-index: 1;
}

.dropdown.show {
   display: block;
}

.dropdown button {
   display: block;
   width: 100%;
   padding: 0.5rem 1rem;
   margin: 0.2rem 0;
   background: none;
   border: none;
   cursor: pointer;
   color: var(--text-color);
}

html {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   overflow-x: hidden;
}

main {
   padding: 1rem 0 2rem;
   position: relative;
}

.back_to_home {
   position: absolute;
   top: 8px;
   left: 0;
   padding: 0.2rem 1.2rem;
   font-size: 1rem;
}

.container {
   max-width: 800px;
   margin: auto;
   padding: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

a {
   color: #58a6ff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.logo_name {
   font-size: 1rem;
   position: fixed;
   top: 0;
   left: 1rem;
}

nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   gap: 1rem;
   margin-top: 1.5rem;
   margin-bottom: 2rem;
}

nav a {
   border-bottom: 1px solid transparent;
}

nav a:hover {
   border-bottom: 1px solid #8b949e;
}

.command {
   color: #58a6ff;
   cursor: pointer;
   user-select: none;
}

.command:hover {
   text-decoration: underline;
}

.terminal {
  display: flex;
  flex-direction: column;
   padding: 0 4rem 0 1rem;
   background-color: transparent;
   /*
   background-color: #0d1117;
   color: #56d364; */
   margin: 0 auto;
   width: fit-content;
   position: relative;
}
.terminal_bg{
  border: 1px solid #30363d;
  border-radius: 8px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
code{
  width: 100%;
  color: var(--terminal-color);
}

@media (max-width:800px){
  .terminal {
  display: flex;
  flex-direction: column;
   padding: 0 1rem 1rem;
    
  }
  code{
  display: none;
}

}
.tr_txt {
   color: var(--terminal-color);
}
.tr_txt2{
   color: var(--terminal-color2);
}
.tr_txt3{
   color: var(--text-color);
}
.terminal-header {
   color: #ffd700;
   margin-bottom: 0.5rem;
}

.prompt {
   color: #58a6ff;
}

.patch{
  background-color: black;
  color: white;
  width:100%;
  position: relative;
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px dotted #444;
}
.patch a{
  color: white;
}
.title {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   font-size: 1rem;
   z-index: 3;
}

.code-box {
   border-radius: 8px;
   width: 100%;
   margin: 0 auto;
   margin-left: -10px;
   position: relative;
   cursor: grab;
   user-select: none;
   padding: 0 4px;
   font-size: 14px;
}

.header {
   direction: flex;
   flex-direction: row;
   direction: ltr;
   background: var(--bg-cod-header);
   padding: 8px;
   font-weight: bold;
   border-radius: 5px 5px 0 0;
   font-size: 14px;
  }

.h {
   position: fixed;
   top: 0;
   right: 0;   height: 3rem;
   width: 100%;
   backdrop-filter: blur(4px);
   z-index: 2;
}

.update-info {
   direction: ltr;
   font-size: 14px;
   color: #c9d1d9;
}

.update_line {
   gap: 4px;
   display: flex;
   text-align: justify;
   margin-left: 1rem;
}
.keyword {
  color: var(--color-keyword);
}
.string {
  color: var(--color-string);
}
.comment {
  color: var(--color-comment);
}
.variable {
  color: var(--color-variable);
}
.bracket {
  color: var(--text-color);
}
.function {
  color: var(--color-function);
}
.update_margin1 {
   margin-left: 2.6rem;
}

.update_margin2 {
   margin-left: 4.8rem;
}

.update_margin3 {
   margin-left: 3rem;
}

#network {
   width: 100%;
   height: 400px;
   margin: auto;
   border: 1px solid #333;
}

.note_section {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 6px;
   padding: 4px;
   z-index: 1;
}

.note {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 4px;
   padding: 4px 8px;
   font-size: 12px;
   border: 1px solid #333;
   border-radius: 8px;
   color: #c9d1d9;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
footer a {
  cursor: none;
   color: var(--text-color);
}
.foooter_link:hover {
  transform: scale(1.2);
  transition: all 200ms ease;
  margin: -4px 8px 0;
  
}

.icon {
   display: flex;
   gap: 1rem;
   font-size: 1.6rem;
   margin: 0 0 2rem;
}
#back_to_top {
  position: fixed;
  bottom: -50px; /* يبدأ خارج الشاشة */
  right: 20px;
  display: none;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: none;
  font-size: 2rem;
  z-index: 9999;
  opacity: 0;
}
#blur {
  opacity: 0;
  filter: blur(2px);
  transition: all 1s ease;
}

#blur.loaded {
  opacity: 1;
  filter: blur(0);
}

@keyframes slideUp {
  from {
    bottom: -50px;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    bottom: 10px;
    opacity: 1;
  }
  to {
    bottom: -50px;
    opacity: 0;
  }
}

.show-up {
  animation: slideUp 0.5s forwards;
}

.show-down {
  animation: slideDown 0.5s forwards;
}
/* blog */
article{
  border: 1px dashed #333;
  border-radius: 8px;
  padding: 0 1rem 2rem;
  min-width: 400px;
  max-width: 600px;
  line-height: 1;
  font-size: .8rem ;
  position: relative;
}
.blog_container {
   max-width: 800px;
   margin: 0 auto;
   padding: 2rem 2rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.blog_list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}
.blog_title, .comment_title{
  font-size: 1.2rem;
}
.blog_date{
  color: var(--color-comment);
  position: absolute;
  bottom: 0;
  left: 1rem;
}
.time_ago_stye{
  color: var(--color-comment);
  position: absolute;
  bottom: 0;
  right: 1rem;
}
@media (min-width:900px){

.control{
   right: calc((100% - 800px) / 2);
}
.logo_name, .back_to_home{
   left: calc((100% - 800px) / 2);
}
#back_to_top{
   right: calc((100% - 800px) / 2);
}
}
@keyframes blurOut {
  0% {
    backdrop-filter: blur(8px);
  }
  100% {
    backdrop-filter: blur(0);
  }
}
.animate-up-bouncy {
  opacity: 0;
  animation: animateUpBouncy 800ms ease-in-out forwards;
}

@keyframes animateUpBouncy {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  40% {
    transform: translateX(-15px);
    opacity: 0.5;
  }
  60% {
    transform: translateX(10px);
    opacity: 1;
  }
  75% {
    transform: translateX(-5px);
    opacity: 1;
  }
  90% {
    transform: translateX(2px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* إضافة النقاط الثلاث تدريجياً باستخدام animation */
.doted::after {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 1em;
  animation: dots 1.5s infinite step-start both;
}

@keyframes dots {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}
/* comment */

.comment_title{
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.2rem;
  
}
.comment_list{
  margin: 1rem 0 2rem;
  
}
.comment_message{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: justify;
}
.comment_img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment_time{
  color: var(--color-comment);
  position: absolute;
  top: .5rem;
  left: 0;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.terminal_dote{
  display: flex;
  gap: 8px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.terminal_dote span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
}
.comment_card{
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-bottom: 1px dashed #333;
  border-radius: 0;
  padding: 0 0 1rem;
  margin: 0 auto;
  width: 100%;
  line-height: 1;
  font-size: 12px ;
  position: relative;
}

.comment_heart{
  color: var(--color-comment);
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 1rem;
  color: #e31b23;
}
.comment_heart img{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: var(--color-comment);
  direction: ltr;
  display: flex;
  gap: 4px;
}
@media (min-width:600px){
  .terminal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.info{
  display: none;
}
  .code-box {
   border-radius: 8px;
   width: 100%;
   margin: 0 auto;
   margin-left: -10px;
   position: relative;
   cursor: grab;
   user-select: none;
   padding: 16px 0 ;
   font-size: 14px;
}

}